* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    padding: 30px;
}
h1 {
    text-align: center;
}
p {
    position: relative;
    top: 30px;
    clear: right;
    padding: 20px;
}
#box1 {
    background-color: gray;
    border: 1px solid black;
    width: 31%;
    height: 200px;
    padding: 0;
    margin-top: 50px;
    float: left;
    margin-right: 2%;
}
#box2 {
    background-color: gray;
    border: 1px solid black;
    width: 31%;
    height: 200px;
    padding: 0;
    margin-top: 50px;
    float: left;
    margin-right: 2%;
}
#box3 {
    background-color: gray;
    border: 1px solid black;
    width: 31%;
    height: 200px;
    padding: 0;
    margin-top: 50px;
    float: left;
    margin-right: 2%;
}    
#content1 {
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    float: right;
    width: 120px;
}
#content2 {
    background-color: #e24242;
    color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    float: right;
    width: 120px;
}
#content3 {
    background-color: #dbdb92;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    float: right;
    width: 120px;
}
/* desktop */ 
@media (min-width: 992px) {
    #box1 {
        width: 31%;
    }
    #box2 {
        width: 31%;
    }
    #box3 {
        width: 31%;
    }    
}    
/* Tablet */ 
@media (min-width: 768px) and (max-width: 991px) {
    #box1 {
       width: 47%;
       margin-left: 2%;
    }
    #box2 {
        width: 47%;
    }
    #box3 {
        width: 96%;
        margin-left: 2%;
    }    
}
/* Mobile */ 
@media (max-width: 767px) {
    #box1 {
        width: 90%;
        margin-left: 5%;
    }
    #box2 {
        width: 90%;
        margin-left: 5%;
    }
    #box3 {
        width: 90%;
        margin-left: 5%;
    }
}